body {
    background: blue;
}
header {
    background-size: 10em;

}
.img {
    height: 12em;
    width: 300px;
    padding: 1rem;
    box-sizing: border-box;
    border: 1px solid black;
}

.button {
    align-items: center;
}
